In [1]:
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
dataset= pd.read_csv("Crime.csv")

C:\Users\cristinap\AppData\Local\Temp\ipykernel_7940\1360493495.py:1: DtypeWarning: Columns (1,18) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset= pd.read_csv("Crime.csv")

In [3]:
dataset.shape

(225690, 30)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225690 entries, 0 to 225689
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Incident ID             225690 non-null  int64
 1   Offence Code            225690 non-null  object
 2   CR Number               225690 non-null  int64
 3   Dispatch Date / Time    156891 non-null  object
 4   NIBRS Code              225690 non-null  object
 5   Victims                 225690 non-null  int64
 6   Crime Name1             225549 non-null  object
 7   Crime Name2             225549 non-null  object
 8   Crime Name3             225549 non-null  object
 9   Police District Name    225690 non-null  object
 10  Block Address           205188 non-null  object
 11  City                    224633 non-null  object
 12  State                   225690 non-null  object
 13  Zip Code                222503 non-null  float64
 14  Agency                  225690 non-null  object
 15  Place                   225690 non-null  object
 16  Sector                  225631 non-null  object
 17  Beat                    225631 non-null  object
 18  PRA                     225649 non-null  object
 19  Address Number          205262 non-null  float64
 20  Street Prefix           9949 non-null    object
 21  Street Name             225690 non-null  object
 22  Street Suffix           4243 non-null    object
 23  Street Type             225376 non-null  object
 24  Start_Date_Time         225690 non-null  object
 25  End_Date_Time           109038 non-null  object
 26  Latitude                225690 non-null  float64
 27  Longitude               225690 non-null  float64
 28  Police District Number  225690 non-null  object
 29  Location                225690 non-null  object
dtypes: float64(4), int64(3), object(23)
memory usage: 51.7+ MB

In [5]:
dataset.dtypes

Incident ID                 int64
Offence Code               object
CR Number                   int64
Dispatch Date / Time       object
NIBRS Code                 object
Victims                     int64
Crime Name1                object
Crime Name2                object
Crime Name3                object
Police District Name       object
Block Address              object
City                       object
State                      object
Zip Code                  float64
Agency                     object
Place                      object
Sector                     object
Beat                       object
PRA                        object
Address Number            float64
Street Prefix              object
Street Name                object
Street Suffix              object
Street Type                object
Start_Date_Time            object
End_Date_Time              object
Latitude                  float64
Longitude                 float64
Police District Number     object
Location                   object
dtype: object

In [6]:
print("The data set has {} rows and {} columns".format(dataset.shape[0], dataset.shape[1]))
display(dataset.describe())
display(dataset.head())
display(dataset.dtypes.value_counts())

The data set has 225690 rows and 30 columns

,Incident ID,CR Number,Victims,Zip Code,Address Number,Latitude,Longitude
count,2.256900e+05,2.256900e+05,225690.000000,222503.000000,2.052620e+05,225690.000000,225690.000000
mean,2.011975e+08,1.538873e+08,1.020887,20876.692319,8.387925e+03,38.971249,-76.897092
std,6.328326e+04,6.567140e+07,0.185685,197.291199,1.412240e+04,2.071290,4.085747
min,2.010871e+08,1.001107e+07,1.000000,6.000000,1.000000e+00,0.000000,-77.516753
25%,2.011431e+08,1.705185e+08,1.000000,20853.000000,1.600000e+03,39.023078,-77.197691
50%,2.011977e+08,1.800353e+08,1.000000,20878.000000,8.200000e+03,39.075498,-77.102480
75%,2.012518e+08,1.900379e+08,1.000000,20904.000000,1.250000e+04,39.142651,-77.031830
max,2.013074e+08,2.020367e+08,22.000000,29882.000000,2.090600e+06,39.342086,0.000000

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,NIBRS Code,Victims,Crime Name1,Crime Name2,Crime Name3,Police District Name,...,Street Prefix,Street Name,Street Suffix,Street Type,Start_Date_Time,End_Date_Time,Latitude,Longitude,Police District Number,Location
0,201223224,2303,190002520,01/16/2019 03:51:46 PM,23C,1,Crime Against Property,Shoplifting,LARCENY - SHOPLIFTING,WHEATON,...,NaN,VEIRS MILL,NaN,RD,01/16/2019 03:51:00 PM,NaN,39.037367,-77.051662,4D,"(39.0374, -77.0517)"
1,201224613,2006,190004310,01/27/2019 06:05:56 PM,200,1,Crime Against Property,Arson,ARSON - RESIDENTIAL,MONTGOMERY VILLAGE,...,NaN,GIRARD,NaN,ST,01/27/2019 06:05:00 PM,NaN,39.146531,-77.184940,6D,"(39.1465, -77.1849)"
2,201267200,1103,190057412,11/28/2019 06:08:02 AM,11A,1,Crime Against Person,Forcible Rape,RAPE - STRONG-ARM,WHEATON,...,NaN,GEORGIA,NaN,AVE,11/28/2019 06:08:00 AM,NaN,39.034255,-77.049163,4D,"(39.0343, -77.0492)"
3,201230900,1399,190011960,03/15/2019 10:53:22 AM,13B,2,Crime Against Person,Simple Assault,ASSAULT - 2ND DEGREE,MONTGOMERY VILLAGE,...,NaN,QUINCE ORCHARD,NaN,BLV,03/15/2019 10:50:00 AM,03/15/2019 10:55:00 AM,39.141812,-77.224489,6D,"(39.1418, -77.2245)"
4,201265312,1399,190055150,11/15/2019 03:31:20 PM,13B,1,Crime Against Person,Simple Assault,ASSAULT - 2ND DEGREE,MONTGOMERY VILLAGE,...,NaN,MIDCOUNTY,NaN,HWY,11/15/2019 03:20:00 PM,NaN,39.159339,-77.198516,6D,"(39.1593, -77.1985)"

object     23
float64     4
int64       3
Name: count, dtype: int64